# https://releases.llvm.org/10.0.0/tools/clang/docs/ClangFormatStyleOptions.html

---
Language: Cpp
BasedOnStyle:  Microsoft
IndentWidth: 4
TabWidth: 4
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
BreakConstructorInitializers : BeforeComma
ColumnLimit: 140
AlwaysBreakTemplateDeclarations: Yes